<include file="header" />
<div id="content">
    <div id="weiba" data-title="我的设置" class="panel" data-selected="true"  data-menu="msgmenu" style="padding:0;">
        <header>
        	
            <div id="header-buttons">
            	 
            	<a href="javascript:history.go(-1);">
                    <div id="back" class="header-menu-link" data-back="false">
                    返回
                    </div>
                </a>
    
            </div>
            
            <h1 class="hasback">我的设置</h1>
        </header>
        <div class="mainWeiba">

    <div class="weiba_forumlist" style="margin-top:0">
      
      <div class="navlist" style="margin-top:10px">
        <ul>       	
            <li><a href="{:addons_url('Weiba://Wap/myUser')}">个人资料</a></li>
        </ul>
      </div> 
    </div>

        </div>
    </div>
<include file="footer" />