<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/mobile/common.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<link href="{:CUSTOM_TEMPLATE_PATH}Public/shop.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
	<div class="fx_warp">
		<div class="fx_main">
			<div class="fx_total">
				<p>预计收益 (元)<a href="{:U('distribution_detail',array('shop_id'=>$shop_id))}"><em class="icon_right"></em><span class="fx_check">查看明细</span></a></p>
			</div>
			<div class="fx_take">
				<p>{$datas.all|wp_money_format}</p>
			</div>
		</div>
		<div class="fx_nav_gains">
			<ul>
				<li>一级佣金<span style="color:#f66;">￥{$datas.first|wp_money_format}</span></li>
				<li>二级佣金<span style="color:#fc0;">￥{$datas.second|wp_money_format}</span></li>
				<li class="nbr">三级佣金<span style="color:#69c;">￥{$datas.third|wp_money_format}</span></li>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
	//分享
	$.WeiPHP.initWxShare({
		title:'{$shop.title}',
		desc:'{$shop_share}',
		link:"{:U('index',array('shop_id'=>$shop['id'],'uid'=>$share_uid,'publicid'=>$public_info['id']))}",
		imgUrl:'{$shop.logo}'
	});
	</script>
</body>
</html>