<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/mobile/common.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<link href="{:CUSTOM_TEMPLATE_PATH}Public/shop.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
	<div class="fx_warp">
		<div class="fx_nav_msg">
			<p>通知条数: <span>1</span> 条</p>
		</div>
		<div class="fx_list">
			<!--通知列表-->
			<div class="fx_list_msg">
				<ul>
					<li>
						<h4 class="list_title">这是一个标题</h4>
						<p class="list_time">2016-04-05 16:58:00</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>