<extend name="Base/login_base" />
<block name="body">
<script type="text/javascript" src="__STATIC__/qrcode/qrcode.js"></script>
<script type="text/javascript" src="__STATIC__/qrcode/jquery.qrcode.js"></script>
<style type="text/css">
h3{ font-size:24px; text-align:center; line-height:100px; color:#999; font-weight:normal}
.func li{ overflow:hidden; zoom:1; font-size:18px; line-height:40px; color:#444;}
.func li.l img{ float:left;}
.func li.l .desc{ float:left; margin-left:50px; width:500px; padding:70px 0;}
.func li.r img{ float:right; margin-right:90px;}
.func li.r .desc{ float:left; margin-left:190px; width:280px; padding:70px 0;}
.func li.r .desc img,.func li.l .desc img{  margin-right:6px; float:none; vertical-align:middle}
table{ background:#eee;}
table td{ background:#fff; padding:15px 10px; color:#666; text-align:center}
table tr td:first-child{ background:#cefbf0; padding:15px 10px; color:#09C; font-weight:bold;}
table th{ background:#cefbf0; padding:15px 10px;}
.buy_btn{ display:block; margin:30px auto; width:200px; height:50px; border-radius:5px; line-height:50px; background:#090; color:#fff; text-align:center; font-size:16px;}
.buy_btn:hover{ color:#fff; background:#0fb50b}

/* fixed */
.main-im { position: fixed; left: 10px; bottom: 20px; z-index: 100; width: 110px; height: 282px; }
.main-im .qq-a { display: block; width: 106px; height: 116px; font-size: 14px; color: #0484cd; text-align: center; position: relative; }
.main-im .qq-a span { bottom: 5px; position: absolute; width: 90px; left: 10px; }
.main-im .qq-hover-c { width: 70px; height: 70px; border-radius: 35px; position: absolute; left: 18px; top: 10px; overflow: hidden; z-index: 9; }
.main-im .qq-container { z-index: 99; position: absolute; width: 109px; height: 118px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom: 1px solid #dddddd; background: url(__IMG__/about/img/float/qq-icon-bg.png) no-repeat center 8px; margin-bottom:20px; }
.main-im .img-qq { max-width: 60px; display: block; position: absolute; left: 6px; top: 3px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.main-im .im-qq:hover .img-qq { max-width: 70px; left: 1px; top: 8px; position: absolute; }
.main-im .im_main { background: #F9FAFB; border: 1px solid #dddddd; border-radius: 10px; background: #F9FAFB; }
.main-im .im_main .im-tel { color: #000000; text-align: center; width: 109px; height: 45px; padding:5px 0; border-bottom: none; }
.main-im .im_main .im-tel .tel-num { font-family: Arial; font-weight: bold; color: #e66d15; padding-top: 6px; }
.main-im .im_main .im-tel:hover { background: #fafafa; }
.main-im .close-im { position: absolute; right: 10px; top: -12px; z-index: 100; width: 24px; height: 24px; }
.main-im .close-im a { display: block; width: 24px; height: 24px; background: url(__IMG__/about/img/float/close_im.png) no-repeat left top; }
.main-im .close-im a:hover { text-decoration: none; }
.main-im .im-title { background: #e76322; padding: 5px; }
.main-im .qrcode{ text-align:center; font-size:12px;}
.index_side_box{ margin-top:40px; background:RGBA(255,255,255,.8); height:350px;}
.index_side_box h3{ color:#333; line-height:60px; font-size:18px;}
.index_side_box a{ width:300px; height:44px; line-height:44px; padding:0; text-align:center; font-size:16px;}
.index_side_box p{ color:#333; padding:10px 0; text-align:center;}
.index_side_box p span{ display:inline-block; width:30px; height:30px; line-height:30px; text-align:center; background:#fff; color:#333; border-radius:15px;}
.m_a{ font-size:16px; color:#333;}
</style>
<!-- 头部 -->
<div class="login_header">
	
    <div class="log_wrap">
        <a href="/" title="WeiPHP商城"><img class="logo" src="__IMG__/logo.png"/></a>
        
        <div class="nav_r">
        	<a class="m_a" href="#introduce">商城系统</a>
             &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="m_a" href="#service">产品服务</a>
             &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{:U('User/login')}">登录</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{:U('User/register')}">注册</a>
        </div>
        
    </div>
    
</div>
<!-- 介绍 -->

    	<div class="top_content">
        	<div class="log_wrap">
            	<div class="top_content_r">
                	
                </div>
            	<section class="login_box index_side_box">
                 	<h3>欢迎使用WeiPHP微商城</h3>
                    <a class="btn" href="{:U('/home/User/login')}">登录</a>
                    <P><span>或</span></P>
                    <a class="btn btn-yellow" href="{:U('/home/User/register')}">注册</a>
                    <P><img src="__IMG__/about/qrcode/qrcode_for_shop.jpg" width="120"/></P>
            		<p style="padding-top:0">扫码二维码关注官方公众号</p>
                </section>
            </div>
        </div>
        <div class="log_wrap">
        	<a href="#" name="introduce"></a>
        	<h3>一个完全融合公众号、微营销、微官网、微场景的商城</h3>
        	<ul class="func">
            	<li class="l">
                	<img src="__IMG__/about/img/weiphp_1.jpg"/>
                    <div class="desc">
                    	<p><strong>实现了大部分公众号功能，方便运营者在一个平台操作多种功能，方便简单。</strong></p>
                    	<p><img src="__IMG__/radio_check.png"/> 自定义菜单</p>
                        <p><img src="__IMG__/radio_check.png"/> 欢迎语设置</p>
                        <p><img src="__IMG__/radio_check.png"/> 群发消息</p>
                        <p><img src="__IMG__/radio_check.png"/> 自定义回复</p>
                        <p><img src="__IMG__/radio_check.png"/> 素材管理（语音，图文，视频，文本素材）</p>
                        <p><img src="__IMG__/radio_check.png"/> 用户咨询(回复用户消息)</p>
                        <p><img src="__IMG__/radio_check.png"/> 用户分组(与微信同步)</p>
                        <p><img src="__IMG__/radio_check.png"/> 用户积分管理</p>
                    </div>
                </li>
                <li class="r">
                	<img src="__IMG__/about/img/weiphp_2.jpg"/>
                    <div class="desc">
                    	<p><strong>结合常用商城的操作习惯打造的微商城，支持线下发货虚拟物品自动发货，支持多种支付方式</strong></p>
                    	<p><img src="__IMG__/radio_check.png"/> 商城基本信息配置</p>
                        <p><img src="__IMG__/radio_check.png"/> 商品管理</p>
                        <p><img src="__IMG__/radio_check.png"/> 订单管理</p>
                        <p><img src="__IMG__/radio_check.png"/> 商品分类</p>
                        <p><img src="__IMG__/radio_check.png"/> 商品属性配置</p>
                        <p><img src="__IMG__/radio_check.png"/> 商品库存管理</p>
                        <p><img src="__IMG__/radio_check.png"/> 商城幻灯片</p>
                        <p><img src="__IMG__/radio_check.png"/> 支付配置</p>
                        <p><img src="__IMG__/radio_check.png"/> 工作授权</p>
                    </div>
                </li>
                <li class="l">
                	<img src="__IMG__/about/img/weiphp_3.jpg"/>
                    <div class="desc">
                    	<p><strong>完全支持三级分销的微商城分销系统</strong></p>
                    	<p><img src="__IMG__/radio_check.png"/> 支持三级分销</p>
                        <p><img src="__IMG__/radio_check.png"/> 灵活设置佣金比例</p>
                        <p><img src="__IMG__/radio_check.png"/> 渠道统计</p>
                        <p><img src="__IMG__/radio_check.png"/> 粉丝统计</p>
                        <p><img src="__IMG__/radio_check.png"/> 提成统计</p>
                    </div>
                </li>
                <li class="r">
                	<img src="__IMG__/about/img/weiphp_4.jpg"/>
                    <div class="desc">
                    	<p><strong>结合微商城的营销工具，能够方便的吸引粉丝，提升营销效果</strong></p>
                    	<p><img src="__IMG__/radio_check.png"/> 优惠券</p>
                        <p><img src="__IMG__/radio_check.png"/> 会员卡系统（会员CRM，积分管理，会员充值，会员特权，会员关怀）</p>
                        <p><img src="__IMG__/radio_check.png"/> 帮拆礼包赢礼品</p>
                        <p><img src="__IMG__/radio_check.png"/> 秒杀活动</p>
                        <p><img src="__IMG__/radio_check.png"/> 投票活动</p>
                        <p><img src="__IMG__/radio_check.png"/> 满送，满减促销配置</p>
                        <p><img src="__IMG__/radio_check.png"/> 抽奖游戏（九宫格、大转盘、刮刮乐、砸金蛋）</p>
                        <p><img src="__IMG__/radio_check.png"/> 针对线下店铺的在线预约</p>
                    </div>
                </li>
                <li class="l">
                	<img src="__IMG__/about/img/weiphp_5.jpg"/>
                    <div class="desc">
                    	<p><strong>高端大气的微场景，多种模板供选择，轻松配置高大上的微海报。</strong></p>
                    	<p><img src="__IMG__/radio_check.png"/> 多种模板选择</p>
                        <p><img src="__IMG__/radio_check.png"/> 多种风格和版式</p>
                        <p><img src="__IMG__/radio_check.png"/> 多种动画效果</p>
                        <p><img src="__IMG__/radio_check.png"/> 丰富的素材</p>
                        <p><img src="__IMG__/radio_check.png"/> 微场景浏览数据统计</p>
                    </div>
                </li>
                <li class="r">
                	<img src="__IMG__/about/img/weiphp_6.jpg"/>
                    <div class="desc">
                    	<p><strong>微官网可以方便的展示企业信息，企业产品等</strong></p>
                    	<p><img src="__IMG__/radio_check.png"/> 官网设置</p>
                        <p><img src="__IMG__/radio_check.png"/> 分类设置</p>
                        <p><img src="__IMG__/radio_check.png"/> 幻灯片设置</p>
                        <p><img src="__IMG__/radio_check.png"/> 文章管理</p>
                        <p><img src="__IMG__/radio_check.png"/> 导航栏管理</p>
                        <p><img src="__IMG__/radio_check.png"/> 模板选择</p>
                    </div>
                </li>
            </ul>
            <a href="#" name="service"></a>
            <h3>产品服务</h3>
            
            <table width="100%" cellpadding="0" cellspacing="1">
            	<thead>
                	<tr>
                    	<th>服务购买</th>
                        <th>基础版</th>
                        <th>营销版</th>
                        <th>分销版</th>
                        <th>豪华版</th>
                        <th>定制开发版</th>
                    </tr>
                </thead>
            	<tr>
                	<td>公众号管理</td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                </tr>
                <tr>
                	<td>微商城</td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                </tr>
                <tr>
                	<td>微官网</td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                </tr>
                <tr>
                	<td>营销工具</td>
                    <td>无</td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                </tr>
                <tr>
                	<td>分销系统</td>
                    <td>无</td>
                    <td>无</td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                </tr>
                 <tr>
                	<td>微场景</td>
                    <td>无</td>
                    <td>无</td>
                    <td>无</td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                </tr>
                <tr>
                	<td>提供部署服务</td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                </tr>
                <tr>
                	<td>客服咨询</td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                </tr>
                <tr>
                	<td>技术支持</td>
                    <td>无</td>
                    <td>无</td>
                    <td>无</td>
                    <td>无</td>
                    <td><img src="__IMG__/radio_check.png"/></td>
                </tr>
                <!--<tr>
                	<td>服务价格</td>
                    <td>5888元</td>
                    <td>8888元</td>
                    <td>12888元</td>
                    <td>16888元</td>
                    <td>联系购买</td>
                </tr>-->
            </table>
        </div>
    	<a class="buy_btn" href="tencent://message/?uin=826449899&Site=qq&Menu=yes">联系购买</a>
       <!-- 联系方式 -->
    <div class="main-im" id="main_im">
    <div class="im_main" id="im_main">
        <div id="close_im" class="close-im" onClick="$('#main_im').fadeOut();">
            <a href="javascript:void(0);" title="点击关闭">&nbsp;</a>
        </div>
        <a href="tencent://message/?uin=3254653722&Site=shop.weiphp.cn&Menu=yes" class="im-qq qq-a" id="wpa2" title="在线QQ客服">
            <div class="qq-container"></div>
            <div class="qq-hover-c">
                <img class="img-qq" src="__IMG__/about/img/float/qq.png">
            </div>
            <span> QQ在线咨询</span>
        </a>
        <div class="im-tel">
            <div class="f-12 pt-10 t-c">咨询热线</div>
            <div class="f-14 tel-num t-c ">0755-23729769</div>
        </div>
        <div class="qrcode">
        	<img src="__IMG__/about/qrcode/qrcode_for_shop.jpg" width="100"/>
             扫码关注官方
        </div>
    </div>
    </div>
</block>
<block name="script">
	<script type="text/javascript">       
    	$(document)		   
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});


    	$("form").submit(function(){
    		var self = $(this);
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.status){
    				window.location.href = data.url;
    			} else {
    				self.find(".Validform_checktip").text(data.info);
    				//刷新验证码
    				$(".reloadverify").click();
    			}
    		}
    	});

		$(function(){
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify,.reloadverify_a").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
			$('input').focus(function(){
				$(this).parent().find('.fa').css('color','#44b549');
				})
			$('input').blur(function(){
				$(this).parent().find('.fa').css('color','#aaa');
				})
		});
	</script>
</block>
